@import url(http://fonts.googleapis.com/css?family=Nunito); /*--- CHANGE Body Font --*/
@import url(http://fonts.googleapis.com/css?family=Oxygen); /*--- CHANGE Heading Font--*/
@import url(http://fonts.googleapis.com/css?family=Fjalla+One); /*--- CHANGE Navigation Font --*/


#page-title {
    width: 98%;
    max-height: 45px;
    margin: 0 auto;
    padding-top: 2%;
    border-bottom: 1px solid rgba(163, 25, 34, 0.811765);
}

.banner-img {
	max-width: 98%;
	height: auto;
	padding-top: 20px;
	margin: auto;
    display:block;
    text-align:center;		
}    
    
